<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdLux Holograms</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <!-- HEADER -->
    <%- include('./1_header.ejs') %>

    <!-- VIDEO -->
    <%- include('./2_video.ejs') %>
    
    <!-- INFO -->
    <%- include('./3_info.ejs') %>

    <!-- BENEFITS -->
    <%- include('./4_benefits.ejs') %>

    <!-- PRODUCTS -->
    <%- include('./5_products.ejs') %>

    <!-- SOLUTION -->
    <%- include('./6_solution.ejs') %>

    <!-- CONTACT -->
    <%- include('./7_contact.ejs') %>

    <!-- FOOTER -->
    <%- include('./8_footer.ejs') %>

</body>
</html>