<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="img/adlux-logo-blue-part.svg">
    <meta name="description" content="Udělejte z reklamy atrakci! Revoluční marketingový produkt pro obchodní centra a pasáže. Užitím technologií holografického zobrazení zvyšte svoje příjmy a atraktivitu.">
    <link rel="canonical" href="https://www.adluxholo.cz" />
    <meta name="robots" content="index, follow" />

    <meta property="og:title" content="AdLux Holograms" />
    <meta property="og:description" content="Udělejte z reklamy atrakci! Revoluční marketingový produkt pro obchodní centra a pasáže. Užitím technologií holografického zobrazení zvyšte svoje příjmy a atraktivitu." />
    <meta property="og:url" content="https://www.adluxholo.cz" />
    <meta property="og:image" content="__PATH/TO/OG-IMAGE.JPG__" />
    <meta property="og:image:secure_url" content="https://www.adluxholo.cz" />
    <meta property="og:image:type" content="__IMAGE/TYPE__" />
    <meta property="og:locale" content="cs_CZ" />
    <meta property="og:type" content="website" />

    <title>AdLux Holograms</title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.2.0/p5.js"></script>
</head>
    <body>
        <!-- HEADER -->
        <%- include('./1_header.ejs') %>

        <!-- VIDEO -->
        <%- include('./2_video.ejs') %>
        
        <!-- INFO -->
        <%- include('./3_info.ejs') %>

        <!-- BENEFITS -->
        <%- include('./4_benefits.ejs') %>

        <!-- PRODUCTS -->
        <%- include('./5_products.ejs') %>

        <!-- SOLUTION -->
        <%- include('./6_solution.ejs') %>

        <!-- CONTACT -->
        <%- include('./7_contact.ejs') %>

        <!-- FOOTER -->
        <%- include('./8_footer.ejs') %>

    </body>
    <script src="/js/index.js" defer></script>
</html>